<h1>Stupid Coaching</h1>
<form action="/answer" method="get">
  <label for="question">Ask your coach anyhting</label><br>
  <br>
  <input id="question" type="text" name="ask">
  <input type="submit" value="Ask!">
</form>
